.app{
    display: flex;
    height: 100dvh;
}
.header{
    background-color: #eaf0fb !important;
    width: 100% !important;
}
.content{
    width: 100%;
}

/**********/
.deco{
    padding: 30%;
    color: rgb(252, 250, 250);
    font-size: large;
}
.formulaire *:before,
.formulaire *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.formulaire .background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.formulaire .background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.formulaire .shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.formulaire .shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
.formulaire form{
    height: 520px;
    width: 400px;
    background-color: rgba(34, 34, 71, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(136, 104, 104, 0.329);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.formulaire form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.formulaire form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.formulaire label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.formulaire input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
.formulaire ::placeholder{
    color: #050202;
}
.formulaire button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.formulaire .social{
  margin-top: 30px;
  display: flex;
}
.formulaire .social div{
  background: #ff0000;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.formulaire .social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.formulaire .social .fb{
  margin-left: 25px;
}
.formulaire .social i{
  margin-right: 4px;
}

.formulaire input[type="password"]{
    empty-cells: show;
}

/*************************************/
.labInfo{
    text-align: center;
    padding-top: 20px;
    width: 100%;
    font-size: 100%;
}